{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Attendance App</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">


</head>

<body>
  
  <!-- {% if request.user.is_authenticated %} -->
  {% include 'accounts/nav_bar.html' %}
  <!-- {% endif %} -->
  
  <div class='col-md-10 col-md-offset-2' id='page'>
      {% block content %}{% endblock %}
  </div>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/jquery-form-validator/form-validator/jquery.form-validator.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'metisMenu/metisMenu.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/login.validators.js' %}"></script>


</body>

