{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="">
  <div class="page-title-breadcrumb" style="background-color: #f8f8f8;">
      <div class="page-header pull-left">
          <div class="page-title">
              Class {{ batch }}</div>
      </div>
      <ol class="breadcrumb page-breadcrumb pull-right">
          <li><i class="fa fa-home"></i>&nbsp;<a href="{% url 'accounts:dashboard' %}">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
          <li class="hidden"><a href="#">Class {{ batch }}</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
          <li class="active">Class {{ batch }}</li>
      </ol>
      <div class="clearfix">
      </div>
  </div>
  <div class="page-content">
    <div class="pull-right"><legend>Strength : {{batch.strength}}</legend></div>
    <div class="alert"></div>
    <div id="sum_box" class="mbl">
        <div class="col-lg-4 col-md-3">
            <div class="custom-panel visit db mbm">
                <div class="panel-body custom-panel-padding">
                    <a href="{% url 'attendance:new-attendance' batch.id %}"><p class="icon">
                        <i class="icon fa fa-group"></i>
                    </p>
                    <h4 class="value">
                        <span>Take New Attendance!</span></h4>
                    <p class="description"></p></a>
                </div>
            </div>
        </div>
    </div>
    <div id="sum_box" class="mbl">
        <div class="col-lg-4 col-md-3">
            <div class="custom-panel visit db mbm">
                <div class="panel-body custom-panel-padding">
                    <a href="{% url 'attendance:batch-history' batch.id %}"><p class="icon">
                        <i class="icon fa fa-group"></i>
                    </p>
                    <h4 class="value">
                        <span>Go to History!</span></h4>
                    <p class="description"></p></a>
                </div>
            </div>
        </div>
    </div>
    <div id="sum_box" class="mbl">
        <div class="col-lg-4 col-md-3">
            <div class="custom-panel visit db mbm">
                <div class="panel-body custom-panel-padding">
                    <a href=""><p class="icon">
                        <i class="icon fa fa-group"></i>
                    </p>
                    <h4 class="value">
                        <span>Something else!</span></h4>
                    <p class="description"></p></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
<!-- <script type="text/javascript">
    $(function() {
       // Bootstrap DateTimePicker v4
       $('#datetimepicker').datetimepicker({
             format: 'DD/MM/YYYY'
       });
    });
</script> -->
{% endblock %}
